@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
    margin: 0;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./pagina7.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:rgba(15, 14, 14, 0.8);
    width: 400px;
    height: 400px;
    padding: 30px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    border-radius: 10px;
    border: 3px solid black;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    color: white;
}

label {
    display: block;
    width: 100%;
    margin-top: 10px;
    font-family: 'Oswald', sans-serif;
    color: white;
}

input {
    display: block;
    width: 100%;
    border-radius: 8px;
    height: 30px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

button {
    width: 102%;
    border: none;
    background: white;
    color: #333;
    border-radius: 8px;
    padding: 8px 12px;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    margin-top: 20px;
}

button:hover {
    background-color: #17c2b9;
    color: white;
}

#resultado {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 10px;
    color: white;
}